/* helpers 
--------------------------------------------------------------------*/	
.hide {display: none;}
.ov {overflow: hidden;}

.left {float: left;}
.right {float: right;}
.cntr {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
.tcntr {text-align: center;}
.center img {
	max-width: 100%; 
	width: auto; /*ie8 fix*/
	height: auto; 
	}

/*clearfix for floats*/
.cle:after {
	content: "."; 
	display: block; 
	visibility: hidden; 
	clear: both; 
	height: 0; 
	font-size: 0;
	}

/*but*/
.but {
	display:inline-block;
	position: relative;
	color:#fff;
	font: 68.75% Tahoma;
	padding:1px 1px 3px 8px;
	border:1px solid #c11e39;
	background: url(but_1.png) 0 0 #c03f53 repeat scroll;
	text-decoration:none;
	}
	.but_news {
		float:left;
		padding:1px 1px 6px 8px;
		margin:0 19px 0 0;
		font-size:1em;/**/
		font-weight:bold;
		color:#d58b96;
		
		}
	.but:before{
		content:"";
		display:block;
		position:absolute;
		top:-1px;
		left:100%;
		width:12px;
		height:19px;
		background:url(but-2a.png) 0 0 no-repeat;
		line-height:0;
		}
		.but_cat{
			position: relative;	
			}
		.but_all{
			display: inline-block;
			padding: 1px 1px 1px 5px;
			margin: 0 30px 0 0;
			position: absolute;
			right: 0;
			}
			.but_all a{
				text-decoration: none;
				font-size:11px;
				line-height: 15px;
				color: #fffefe;
				}
				.but_all a:hover{
					color: #ffd1bc;
					}
/*but end*/