@charset "utf-8";

@import url("base.css");
@import url("components.css");
@import url("layout.css");

/*Header
-----------------------------------------------------*/
/*h_logo*/
.h_logo {
	position:absolute;
	top:77px;
	left:28px;
	width:234px;
	height:70px;
	background:url(h-logo.png) 0 0 no-repeat;
	text-indent:-9999px;
	}
	.h_logo a {
		display:block;
		height:100%;
		}
/*h_logo end*/		
		
/*h_menu*/
.h_menu {
	min-height: 37px;
	border-bottom: 1px solid #cbcbcb;
	background: url(h-backg.png) 0 0 #ac001a no-repeat scroll;
	font: bold 1.0909em Tahoma, sans-serif;/*12*/
	}
	.h_menu ul {
		margin-left:35px;
		padding: 6px 5px 5px 12px;
		}
		.h_menu li {
			display: inline;
			margin-right: 32px;
			}
			.h_menu a {
				color: #fff;
				text-decoration: none;
				}
			.h_menu a:hover {
				color: #ffd1bc;
				text-decoration: underline;
				}
			.h_menu li.menu_now>a {
				color:#ffd1bc;
				}
/*h_menu end*/

/*Center
-----------------------------------------------------*/			
/*promo*/
.promo {
	position: relative;
	margin: 0 0 21px;
	}
	.promo_background {
		min-height:505px;
		margin: 0 0 0 -22px;
		background: url(promo_01a.jpg) 0 0 transparent no-repeat scroll;
		}
	.promo_block {
		width: 200px;
		padding:67px 0 0 66px;
		}
		.promo_block p{
			margin:0 0 8px 6px;
			color:#595858;
			font-size:1.09em;/*12*/
			font-weight:bold;
			line-height:1.5;/*18*/
			}
		.promo_block_list {
			margin: 0 0 0 6px;
			color: #dc566d;
			font-weight: bold;
			}
			.promo_block_list li{
				padding:0 0 0 16px;
				margin:0 0 3px;
				background: url(list-point.png) 0 50% no-repeat;
				}
	.promo_title_1 {
		position: relative;
		margin: 0 0 33px;
		color: #565555;
		font-size: 3.0909em;/*34*/
		font-style: italic;
		font-weight: normal;
		line-height: 1.2647;/*43*/
		text-transform: uppercase;
		text-shadow: 1px 1px #fff;
		}
		.promo_title_sub {
			position: relative;
			bottom: 11px;
			font-size: 0.94em;/*36*/
			text-transform: lowercase;
			line-height: 1;
			}
	.promo_title_2 {
		margin: 0 0 20px 5px;
		color: #dc566d;
		font-size: 3.0909em;/*34*/
		font-style: bold;
		text-shadow: 1px 1px #fff;
		line-height: 1.0588;/*36*/
		}
/*promo end*/

/*news_block*/
.news {
	min-height: 78px;
	margin: 0 26px 50px -1px;
	padding: 0 0 10px;
	border: 1px solid #cbcbcb;
	background: url(news_01.png) 50% 0 #9b0017 repeat-x;
	}
	.news_background { background: url(news_02.png) 0 3px transparent no-repeat; }
		.news_block {
			padding: 13px 5px 0 9px;
			color: #fff;
			}
			.news_text {
				overflow: hidden;
				margin: 2px 0 0;
				}
			.news_block h4 { font: bold 1.0909em/1.3333 Tahoma, sans-serif;/*12-16*/ }
			.news_block p { font-weight: bold; }
/*news_block end*/

/*catalog*/
.catalog { margin: 0 0 3px; }
	.catalog_title {
		margin: 0 0 25px 0;
		color: #6b6b6b;
		font: italic 1.6363em/1.2222 Arial;/*18-22*/
		}
	.catalog_list { margin:0 0 0 -4px; }
		.catalog_item {
			position: relative;
			display: inline-block;
			width: 144px;
			min-height: 351px;
			padding: 0 0 0 22px;
			vertical-align: top;
			 zoom: 1;/*ie7*/
			*display: inline;/*ie7*/			
			}
			.catalog_item:before {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				display: block;
				width: 8px;
				height: 351px;
				background: url(catalog_01.png) 0 0 no-repeat;
				line-height: 0;
				}
			.catalog_item_spec:after { 
				position: absolute;
				top: 0;
				left: 100%;
				content: "";
				display: block;
				width: 8px;
				height: 351px;
				background: url(catalog_01.png) 0 0 no-repeat;
				line-height: 0;
				}
				.catalog_item_title {
					display: block;
					margin: -3px 0 0 0;
					line-height: 1.4545;/**/
					}
				.catalog_item_articul {
					display: block;
					margin: 0 0 9px;
					color: #d58b96;
					}
				.catalog_item_price {
					margin: 0 0 19px;
					color: #c11e39;
					font: italic 1.6363em/1 Arial;/*18-22*/
					}
					.catalog_item_price_spec {
						width: 80%;
						margin: -5px 0 16px;
						color: #919090;
						font: italic 1em/1.1818 Arial;/*11-13*/
						}
				.catalog_pict { margin:0 0 0 -1px; }
/*catalog end*/					

/*info_block*/
.info_block { padding-top: 52px; }
	.info_block_title {
		margin: 0 0 18px 0;
		color: #6b6b6b;
		font: italic 2em/1.0454 Arial;/*22-26*/
		}
	.info_block_text {
		-moz-column-count:       2;
		-webkit-column-count:    2;
		column-count:            2;
		-moz-column-gap:      31px;
		-webkit-column-gap:   31px;
		сolumn-gap:           31px;
		text-align: justify;
		margin: 0 5px 0 3px;
		}
		.info_block_text p {
			padding: 0 0 8px;
			line-height: 15px; /*15*/
			}
		.info_block_b {
			display: block;
			margin: 0 0 10px;
			font-size: 1.0909;
			}
		.info_block_list {
			color: #dc566d;
			font-weight: bold;
			}
			.info_block_list li {
				margin: 0 0 3px;
				padding: 0 0 0 16px;
				background: url(list-point.png) 0 50% no-repeat;
				}
/*info_block end*/

/*Side bar
---------------------------------------------*/
/*menu*/
.menu { margin: 158px 21px 176px 81px; }
	.m_main_title {
		margin: 0 0 20px 0;
		color: #6b6b6b;
		font: italic 1.6363em/1.2222 Arial;/*18-22*/
		}
	.m_minor_title {
		margin:0 0 4px 0;
		color: #dc566d;
		font: bold 1.0909em/1.3333 Tahoma, sans-serif; /* 12-16 *//*Why does font need to place exact setting here? without this rule font-size is 14px*/
		}
	.menu_nav { margin:0 0 22px; }
		.menu_nav li a {
			color: #cc7a87;
			font: bold 1em/2.0909 Tahoma,  sans-serif; /*11-23*/
			}
		.menu_nav li a:hover {
			color: #cc7a87;
			text-decoration: none;
			}
/*menu end*/

/*discount*/
.discount{
	position: relative;
	height: 232px;
	margin: 20px 0 20px 0;
	background: url(discount.png) 0 0 no-repeat scroll;
	color: #595858;
	font-weight: bold;
	}
	.d_text {
		position: absolute;
		top: 108px;
		left: 102px;
		width: 140px;
		font: bold 1.0909em/1.3333 Tahoma, sans-serif;/*12-16*/
		}
	 .d_text span.d_sale{
		color: #9e2134;
		font: bold 2em/1.25 Tahoma, sans-serif;/*24-27*/
		}
/*discount end*/		

/*Footer
-----------------------------------------------------*/
.foot_block {
	position: absolute;
	bottom: 6px;
	width: 100%;
	}
/*f-logo*/
.f_logo {
	position: absolute;
	top: 14px;
	left: 45px;
	width: 118px;
	height: 31px;
	background: url(f-logo.png) 0 0 no-repeat;
	text-indent:-9999px;
	}
	.f_logo a {
		display: block;
		height: 100%;
		}
/*f_logo end*/
		
/*f-contact*/
.f_contact{
	width: 150px;
	margin: -18px 101px 0 49px;
	}
.f_menu {
	width: 400px;
	margin: 0 50px 0 0;
	}
	.f_menu li {
		display: inline-block;
		margin: 0 30px 0 0;
		}
		.f_menu a {
			font-weight: normal;
			}
	.copyright {
		position: absolute;
		right: 30px;
		top: 20px;
		padding: 0 30px 0 0;
		color: #908f8f;
		}
	.copyright span {
		padding: 0 10px 0 0;
		}
		.copyright a {
			position: absolute;
			bottom: 3px;
			right: 0;
			line-height: 11px;/**11/
			}
