/* reset
--------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, dialog, embed, 
figure, figcaption, footer, header, hgroup, 
mark, menu, meter, nav, 
output, progress, ruby, section, summary, time, video  {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	}
article, aside, details, dialog,
figcaption, figure, footer, 
header, hgroup, main, menu, nav, section, summary {display: block;}

html,
body {
	background: #fff;
	color: #595858;
	}  
body{
	font:68.75%/1.4545em Tahoma, sans-serif; /* 11-16 */
	color: #595858;
	}
a,
a:visited {
	font:bold 1em/2.0909em Tahoma,  sans-serif; /*11-23*/
	color:#cc7a87;
	text-decoration: underline;
	}
	a:hover,
	a:active {
		text-decoration: none;
		color: #ffd1bc;
		}
/*h1-h6*/
h1, h2, h4, h5, h6{
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	}
	
a,
 {
	color: #d58b96; 
	}
ol, ul {
	margin:0;
	padding:0;
	}
ul li, ol li { list-style: none;}