/*layout
---------------------------------------------------------*/
body{
	width:1000px;
	font:68.75%/1.4545em Tahoma, sans-serif; /* 11-16 */
	color: #595858;
	margin:0 auto;
	}

.all,
.head,
.foot{
	position:relative;
	}
.all{
	z-index: 1;
	min-height: 100%;
	background: url(../i/all_bg.png) 0 0 no-repeat;
	}
.content{
	width:700px;
	float:right;
	}
.head{
	min-height: 38px;
	background: #AC001A;
	}
.side{
	width:300px;
	float:left;
	}
.all_dwn {
	clear: both;
	padding-bottom: 123px;
	} 
.foot{
	z-index: 2;
	height: 123px;
	min-height: 123px;
	margin-top: -123px;
	overflow: hidden;
	bottom:	0;
	clear: both;
	background: url(../i/f-bg.png) 0 0 no-repeat;
	}
